.card-param {
    height: auto;
    margin-top: 50px
}

/* Results */

#player-results1, #player-results2 {
    font-size: 30px;
    font-weight: bold;
}

.col1 {
    border-right: 5px solid #16c9c9;
}

.col2 {
    border-left: 5px solid #ef2929;
}

nav {
    background-color: #E0AFA0 !important;
}

button {
    background-color: #6c6059 !important;
    color: white !important;
}

.card-quizz {
    height: auto;
    margin-top: 50px
}

#player-results-quizz1, #player-results-quizz2, #chrono-player1, #chrono-player2 {
    font-size: 25px;
    font-weight: bold;
    width: fit-content;
    margin: 0 auto;
}

#chrono-player1, #chrono-player2 {
    margin-top: 10px ;
}

.card-quizz-question {
    margin-top: 50px;
    display: none;
    min-height: 200px;
}

.block-question {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
}


.response0, .response1, .response2, .response3 {
    font-size: 30px;
    background-color: #16c9c9 !important;
}

.response1 {

}

.response2 {

}

.response-block {
    width: fit-content;
    margin: 30px auto 0;
    display: none;
}

.start-btn {
    margin: 30px auto;
    width: fit-content;
    background-color: green !important;
}