.card-param {
    height: auto;
    margin-top: 50px
}

/* Results */

#player-results1, #player-results2 {
    font-size: 30px;
    font-weight: bold;
}

.col1 {
    border-right: 2.5px solid black;
}

nav {
    background-color: #E0AFA0 !important;
}

button {
    background-color: #6c6059 !important;
    color: white !important;
}

.first-border {
    display: flex;
    flex-direction: row;
}
.first-border div {
    background-color: #6c6059;
}